body {
  background: rgb(65, 48, 52);
}

section {
  margin: auto;
}

.foto {
  background: white;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.titulo {
  color: white;
  font-size: 2rem;
  text-align: center;
}
.hora {
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
  line-height: 2rem;
}

footer {
  text-align: center;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.mao {
  width: 25px;
  height: 25px;
}
